/* This file is for your main application css. */
@import "bootstrap";

#masthead-banner { text-align: center; background-image: url(/images/banner.jpg); width: 100%; padding-top: 21.5%; background-position: center 0; background-repeat: no-repeat;}
