/* This file is for your main application css. */
@import "bootstrap";

#masthead { max-height: 300px; overflow: hidden; text-align: center;
  #banner-image {display: inline-block; background-image: url(/images/banner.jpg); width: 100%; max-width: 1400px; padding-top: 21.5%; background-position: center 0; background-repeat: no-repeat;}
}
